# Tipos de datos en Python
-----------------------------------

**Gabriel Ruiz Martinez**

[ORCID](https://orcid.org/0000-0001-6651-7836) | [Scopus](https://www.scopus.com/authid/detail.uri?authorId=57188985692) | [Posgrado IMTA](http://posgrado.imta.edu.mx/index.php/2-inicio/168-semblanza-curricular-dr-gabriel-ruiz-martinez)

Tecnólogo del Agua | Subcoordinación de Posgrado y Educación Continua.

[Instituto Mexicano de Tecnología del Agua](https://www.gob.mx/imta).

Marzo del 2025

![Imagen](CC_BY-NC_4_0_reduc.png)

------------------------------------

# Introducción

En Informática los programas están compuestos por líneas con órdenes para la computadora, es decir código y datos. Recordemos que Python interpreta la codificación, traduce todo el programa a lenguaje máquina y en la memoria, almacena en bits los datos e instrucciones. Cada compartimiento de memoria contiene un objeto virtual, que a su vez se integra de un **tipo de dato** almacenado, una **etiqueta** para identificarlo de otros objetos y un **valor** que debe de ser consistente con el tipo de dato.

Los principales dato que se tienen en Python son:
| Nombre | Tipo | Ejemplo
|--- | :---: | :---: |
| Entero | int | 5, 12345, 1000000 |
| Flotante | float | 3.1415, 2.7e-3, 56.7 |
| Booleano | bool | True, False |
| Cadena | string | 'hola', "rafael", 'control' |

## Variables (compartimiento de memoria)
Las variables son los elementos donde almacenamos los valores que se tienen en memoria y que usamos en nuestros programas. Las variables se identifican por medio de nombres o etiquetas. Los nombres **solo pueden integrarse con letras mayúsculas, minúsculas, números y guiones bajos (_); siempre deben de comenzar con un letra o un guión bajo, **nunca** con un número y no puede ser una palabra reservada. 

Para conocer cuáles son las palabras reservadas en Python, podemos usar la función `help` de la siguiente manera:

In [1]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

### Operador de Asignación de valores
En Python usamos el símbolo aritmético de igualdad (=) **para asignar** un valor a una variable.

In [2]:
pi = 3.1416
g = 9.81
iva = 16
nombre = 'John Elway'

## Tipo de dato numérico entero (int)

Los datos númericos enteros son todos aquellos que no pertenecen a los números racionales e irracionales, es decir, que no contienen decimales; sin embargo, pueden tener signo positivo o negativo. 

Debemos tener en cuenta que un número entero no puede iniciar con 0.

In [3]:
f = 5
print(f)

dg = 567
print(dg)

er = -90
print(er)

grados = -180
print(grados)

par = +90
print(par)

5
567
-90
-180
90

Como se ha observado en el ejemplo anterior, tu puedes crear un número entero simplemente escribiendo el número explicítamente, pero también puedes usar la función `int()` para generar número enteros. Generalmente esta función se utiliza para convertir otros tipos de datos a números enteros, por ejemplo:

In [4]:
# Convirtiendo un dato numerico tipo float a tipo int
dist = int(23.5)
print(dist)

# Convirtiendo un dato del tipo string a tipo int
pulgada = int(float("9"))
print(pulgada)

23
9

Identifica que cuando tengas una cadena de caracteres que represente un número flotante o entero, primero tienes que convertir el dato de string a flotante y después, de flotante a entero.

Por otra parte, cuando manejas grandes valores de números enteros puedes puedes expresar una cantidad usando guiones bajo para facilitar la lectura de los números.

In [5]:
10_000_000

10000000

### Función `type` para revisar el tipo de dato

Si deseamos verificar o tenemos incertidumbre acerca del tipo de dato que estamos usando, podemos la función `type()` para conocer el tipo de dato. Por ejemplo:

In [6]:
type(10_000_000)

int

In [7]:
type(3.1415)

float

In [8]:
type('hola')

str

In [9]:
type(True)

bool

## Tipo de dato numérico flotante (float)

En Informática todos los números que tienen una parte decimal se conocen como números flotantes (float).

De manera similar a los datos numéricos de tipo entero, podemos usar los guiones bajos para hacer más legible grandes valores o podemos usar la notación exponencial para expresar numeros muy grandes.

Se puede usar la función `float()` para crear números del tipo flotante a partir de otros tipos de datos.

Ejemplos:

In [10]:
pi = 3.1416
print(pi)

3.1416

In [11]:
valor_1 = 45.7
print(valor_1)

45.7

In [12]:
5_100_000_000.0

5100000000.0

In [13]:
5.1e9

5100000000.0

In [14]:
float(1000)

1000.0

In [15]:
float('23')

23.0

## Operador aritméticos

Python puede usarse como una calculadora científica digital y los operadores aritméticos son:
| Operador | Operación aritmética | Ejemplo |
| :---: | :---: | :---: |
| + | Adición | 34 + 34 |
| - | Sustracción | 23 - 678 |
| * | Producto | 2 * 50 |
| / | Cociente flotante | 1 / 2 |
| // | Cociente entero | 5 // 2 |
| % | Módulo | 11 % 2 |
| ** | Exponenciación | 3 ** 2 |

## Tipo de dato cadena de caracteres (string)

El tipo de dato que, generalmente, se conoce como string son cadenas de texto o secuenciasde caracteres. Los strings pueden construirse mediante el uso de comillas simples (') o comillas dobles(") que delimiten un texto o un caracter alfanumérico. No es posible combinar una comilla simple con una comilla doble o viceversa. Para crear cadenas con multiples líneas debemos usar comillas triples ('''). De manera similar a los datos numéricos, se puede utilizar la función `str()` para convertir otro tipo de datos a cadenas de caracteres.

In [16]:
mensaje = 'Oprimir enter para continuar'
print(mensaje)

Oprimir enter para continuar

In [17]:
fecha_Inicio = "06/08/2023"
print(fecha_Inicio)

06/08/2023

In [18]:
pi = '3.1416'
print(pi)
type(pi)

3.1416

str

In [19]:
multiLine = '''El programa calcula
la media movil de la serie de
tiempo que corresponde al mes de junio'''
print(multiLine)

El programa calcula
la media movil de la serie de
tiempo que corresponde al mes de junio

In [20]:
str(9.81)

'9.81'

## Tipo de dato lógico o booleano (bool)

En Python los tipos de datos son `True` o `False`.

In [21]:
flag1 = True
print(flag1)
type(flag1)

True

bool