# Tipos de almacenamiento de datos en Python
-----------------------------------

**Gabriel Ruiz Martinez**

[ORCID](https://orcid.org/0000-0001-6651-7836) | [Scopus](https://www.scopus.com/authid/detail.uri?authorId=57188985692) | [Posgrado IMTA](http://posgrado.imta.edu.mx/index.php/2-inicio/168-semblanza-curricular-dr-gabriel-ruiz-martinez)

Tecnólogo del Agua | Subcoordinación de Posgrado y Educación Continua.

[Instituto Mexicano de Tecnología del Agua](https://www.gob.mx/imta).


![Imagen](CC_BY-NC_4_0_reduc.png)

------------------------------------

## Listas (list)
En Python una **lista** es una variable de arreglo unidimensional donde los datos tendrán una posición determinada dentro del mismo.

En una lista puedes asignar una serie de valores o ítems **sepárandolos por una coma**; la serie de valores **estará delimitada por corchetes**. No se
requiere que todos los ítems sean del mismo tipo.

In [1]:
# Creando un lista
a = [31, 56, 78, 23, 11, 89, 60, 81, 71, 20, 17, 56, 33, 55]
a

[31, 56, 78, 23, 11, 89, 60, 81, 71, 20, 17, 56, 33, 55]

In [2]:
# Con la funcion len podemos conocer el numero de elementos que se encuentran en una lista
len(a)

14

In [3]:
# Lista con elementos de diferentes tipos de datos
b = [452, 389, 'year', 'ventas', 7]
b
print('La longitud de mi arreglo es', len(b))

La longitud de mi arreglo es 5

In [4]:
# Anidando una lista de numeros enteros dentro de otra lista que contiene diferentes tipos de datos
c = [789, [1000, 2000], 0.34, 'iva']
c

[789, [1000, 2000], 0.34, 'iva']

In [5]:
# Creando una lista en una variable
ase = [ 1, 2, 3, 4]
# Anidando una listas con la variable que contiene otra lista
asd = [ 10, 20, ase, 50, 60]
asd

[10, 20, [1, 2, 3, 4], 50, 60]

In [6]:
# Creando una lista vacia
d = []

### Indexado de elementos en Python (indexación)

In [7]:
# Verifcando el valor del 1er elemento de la lista a
a[0]
print('El valor del primer elemento de a es:', a[0])

# Verificando el valor de 5to elemento de la lista a
a[4]
print('El valor del quinto elemento de a es:', a[4])

# Verificando el valor del 8vo elemento de la lista a
a[7]
print('El valor del octavo elemento de a es:', a[7])

# Verificando el valor de 2do elemento c y el segundo elemento de la lista anidada
c[1][1]
print(c[1][0])

# Verificando el ultimo valor del arreglo a. referenciando de "derecha a izquierda"
a[-1]
print(a[-1])

# Para seleccionar un rango de elementos, debemos proporcionar el indice del primer elemento
a[0:3]
print(a[0:3])

#
a[:-5]
print(a[:-5])

#
a[5:]
print(a[5:])

# Visualizando toda la lista. Recordando que cuando no se indica un indice a la izquierda de :, estamos indicando el indice 0 
# y cuando no indicamos el indice a la derecha de los dos puntos, Python asume que se refiere al último indice
a[:]
print(a[:])

#
print(a)
a[1:10:2]
print(a[1:10:2])

#
a[-1:-4:-2]
print(a[-1:-4:-2])

# Agregando un elemento al final de la lista a
a.append(350)
print(a)

# Agregando (insertando) un elemento al inicio de la lista, usando el metodo insert
a.insert(0, 500)
print(a)

# Borrando un elemento de la lista a
del a[0]

El valor del primer elemento de a es: 31
El valor del quinto elemento de a es: 11
El valor del octavo elemento de a es: 81
1000
55
[31, 56, 78]
[31, 56, 78, 23, 11, 89, 60, 81, 71]
[89, 60, 81, 71, 20, 17, 56, 33, 55]
[31, 56, 78, 23, 11, 89, 60, 81, 71, 20, 17, 56, 33, 55]
[31, 56, 78, 23, 11, 89, 60, 81, 71, 20, 17, 56, 33, 55]
[56, 23, 89, 81, 20]
[55, 56]
[31, 56, 78, 23, 11, 89, 60, 81, 71, 20, 17, 56, 33, 55, 350]
[500, 31, 56, 78, 23, 11, 89, 60, 81, 71, 20, 17, 56, 33, 55, 350]

In [8]:
# Borrando un elemento de la lista a, por medio del metodo pop
a.pop(1)

56

## Tuplas

In [9]:
# Estableciendo una tupla vacia
tup = ()
print(tup)

()

In [10]:
# Creando una tupla con un mismo tipo de dato
tup1 = (23, 45, 78, 90)
print(tup1)
len(tup1)
type(tup1)

(23, 45, 78, 90)

tuple

In [11]:
# Anidando una tupla con diferentes tipos de datos y estructuras de datos
tup2 = (10, 'hola', (34, 56, 23), [3.1415, 9.81])
print(tup2)

(10, 'hola', (34, 56, 23), [3.1415, 9.81])

In [12]:
# Otra manera de crear una tupla es proporcionando los elementos separados por uan coma
tup3 = 2, 5.6, 'Linux', [6.7, 4.5]
print(tup3)

(2, 5.6, 'Linux', [6.7, 4.5])

In [13]:
# Visualizando el valor del primer elemento de la tup3
print(tup3[0])

2

In [14]:
# Concatenando 3 tuplas
q = ((23, 45) + (67, 89) + (100, 200))
print(q)

(23, 45, 67, 89, 100, 200)

In [15]:
# Concatenando 6 tuplas de las cuales 1 de ellas se repite 4 veces sus elementos
u = ((23, 45) + (67, 89)*4 + (100, 200))
print(u)

(23, 45, 67, 89, 67, 89, 67, 89, 67, 89, 100, 200)

In [16]:
# Usando la función tupla para convertir una lista en una tupla
er = tuple([1, 2, 3])
print(er)

(1, 2, 3)

In [17]:
# Usando la funcion lista para convertir una tupla en una lista y usamos la funcion type para verificar el tipo de estructura que se tiene
t1 = list(er)
print(t1)
type(t1)

[1, 2, 3]

list

## Diccionarios

In [18]:
db1 ={'Juan Reyes':123, 'Pepito Lopez':56, 'John Doe':89, 'Jane Doe':4}
print(db1)
type(db1)

{'Juan Reyes': 123, 'Pepito Lopez': 56, 'John Doe': 89, 'Jane Doe': 4}

dict

In [19]:
print(db1['Juan Reyes'])

123

In [20]:
a[-1:-4:-1]
print(a[-1:-4:-1])

[350, 55, 33]